[OPTIONS]
FLOW_UNITS           {{ FLOW_UNITS }}
INFILTRATION         HORTON
FLOW_ROUTING         KINWAVE
START_DATE           {{ START_DATE }}
START_TIME           00:00:00
REPORT_START_DATE    {{ START_DATE }}
REPORT_START_TIME    00:00:00
END_DATE             {{ END_DATE }}
END_TIME             12:00:00
SWEEP_START          01/01
SWEEP_END            12/31
DRY_DAYS             0
REPORT_STEP          00:00:30
WET_STEP             {{ WET_STEP }}
DRY_STEP             {{ DRY_STEP }}
ROUTING_STEP         {{ ROUTING_STEP }}
ALLOW_PONDING        NO
INERTIAL_DAMPING     PARTIAL
VARIABLE_STEP        0.75
LENGTHENING_STEP     0
MIN_SURFAREA         0
NORMAL_FLOW_LIMITED  BOTH
SKIP_STEADY_STATE    NO
FORCE_MAIN_EQUATION  H-W
LINK_OFFSETS         DEPTH
MIN_SLOPE            0