[RAINGAGES]
;;               Rain      Time   Snow   Data
;;Name           Type      Intrvl Catch  Source
;;-------------- --------- ------ ------ ----------
{# 1                INTENSITY 0:05   1.0    TIMESERIES Rain#}
{% for this_gauge in RAIN_GAGES %}
{% endfor %}